$bg-color: #01011a;
:global(body){
    background-color: $bg-color;
}
.radio-buttons {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    button{
        background: rgba(0,0,0,0);
        $button-diameter: 128px;
        $image-diameter: calc($button-diameter / 1.25);
        border: none;
        color: white;
        width: $button-diameter;
        height: $button-diameter;
        border-radius: 50%;
        
        img {
            width: $image-diameter;
            height: $image-diameter;
            left: 50%;
            top: 50%;
        }
    }
}

audio {
    position: absolute;
    left: 50%;
    top: 75%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}