$bg-color: #01011a;
body {
    background-color: $bg-color;
}

$button-diameter: 256px;
$image-diameter: calc($button-diameter / 1.5);
$xpadding: calc(((100%) - (5.1*$button-diameter))/2);

#stations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: none;
    padding-right: $xpadding;
    padding-left: $xpadding;


    .hover{
        background-color: #ffffff1e;
    }
    button{
        flex-basis: 20%;
        background: rgba(0,0,0,0);
        border: none;
        border-radius: 50%;
        max-width: $button-diameter;
        min-width: $button-diameter;
        width: $button-diameter;
        height: $button-diameter;
        cursor: pointer;
        
        img {
            width: $image-diameter;
            height: $image-diameter;
            left: 50%;
            top: 50%;
        }
    }
}


