$bg-color: #01011a;
$player-width: min(90vw, 1024px);
$font-size: clamp(16pt, 1.5vw, 20pt);

:global(body) {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

.player {
    width: $player-width;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    padding: 1rem;
    font-family: monospace;
    font-size: $font-size;
    text-align: center;
    color: cyan;
    text-shadow: 1px 1px 1px #000;

    .channel-info {
        h2 {
            font-weight: normal;
        }
    }

    .logo {
        width: min(50%, 160px);
    }

    .now-playing {
        $artist_color: yellow;
        $title_color: lime;
        h3 {
            color:greenyellow;
            font-weight: normal;
        }
        .playing-artist {
            display: flex;
            justify-content: center;
            color: $artist_color;
            font-weight: normal;
        }
        .playing-track {
            display: flex;
            justify-content: center;
            color: $title_color;
            font-weight: normal;
        }
        #artist {
            background-color: $artist_color;
            -webkit-mask: url(/visual-assets/now-playing/artist.svg) no-repeat center;
            mask: url(/visual-assets/now-playing/artist.svg) no-repeat center;
            span {
                height: 1em;
                width: 1em;
                background-color: $artist_color;
                border-radius: 0px;
                display: inherit;
            }
        }
        #track {
            background-color: $title_color;
            -webkit-mask: url(/visual-assets/now-playing/track.svg) no-repeat center;
            mask: url(/visual-assets/now-playing/track.svg) no-repeat center;
            span {
                height: 1em;
                width: 1em;
                background-color: $title_color;
                border-radius: 0px;
                display: inherit;
            }
        }
    }

    .controls {
        $button_w: min(25vw, 128px);
        .buttons{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            button {
                background: none;
                border: none;
                cursor: pointer;
                img{
                    width: $button_w;
                }
            }
        }
        input[type="range"]{
            width: calc(3.6 * $button_w);
        }
    }

}