$bg-color: #01011a;
:global(body){
    background-color: $bg-color;
}

#allfather{
    $bannerw: calc(256px + 20%);
    $fontsize: calc( calc($bannerw/32) + 1vw);
    width: $bannerw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.303);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: $fontsize;
    font-family: monospace;
    text-shadow: 1.75px 1.75px 1.75px #000000; 
    font-weight: 500;
    padding: 1ch;

    #channel-id{
        padding-bottom: 1em;
        color:cyan;

        .channel-id-member{
            padding: 0.25ch;
        }
    }

    .currently-playing{
        #break{
            color:cyan;
        }

        #now-playing{
            color:greenyellow;
        }

        .display-artist{
            display: flex; 
            justify-content: space-between;
            align-content: center;
            color: rgb(255, 255, 0);

            #artist-id{
                padding-left: 10%;
            }
        }
        .display-track-title{
            display: flex; 
            justify-content: space-between;
            align-items: center;
            color: rgb(0, 255, 0);

            #track-title-id{
                padding-left: 10%;
            }
        }
    }

    #play-button{
        padding-top: 2ch;
        width: calc(($bannerw / 20) + 128px);
        border-radius: 50%;
        border: 0px;
        background-color: transparent;

        img{
            width: 100%;
        }
    }

    #volume {
        width: 25%;
        padding: 10px;
        box-shadow: 0 4px 8px rgb(0, 0, 0);
    }

    #station-logo{
        width: calc(($bannerw / 20) + 128px) ;
    }
}